/* Allow code boxes to be longer */
.reveal pre code {
    max-height: 550px;
}

/* And also wider */
.reveal pre {
  width: 110%;
}

/* Remove the border and the background from images */
.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}
